
//Color
$main-app-color: #2397f3;
$hover-app-color: #28c6da;
$main-back-color: #ecf3f7;
$dark-app-color: #646568;
$grey-app-color: gray;
$lightGrey-app-color: lightgrey;
$active-color: #FF8534;
$active-color-hover: rgba(255, 133, 52, 0.51);
$regular-color: #FFF;
//background
$background-filter: rgba(240, 236, 248, 0.86);
$background-filter-second: rgba(0, 0, 0, 0.88);
//size
$defaul-font-size: 1rem;

//media
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//mixins media
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
