@import '../../../assets/variables/variables';
.layout-sidebar-large, .main-header {
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
  border-bottom: 0.15px solid $background-filter;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
  padding: 0 1vw 0 1vw;
  background-color: transparent;

  .left-group{
    width: 15%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    .logo img {
      width: auto;
      height: 30px;
      margin: 0 auto;
      display: block;
    }
    .menu-toggle {
      width: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      margin-right: 12px;
      .line {
        width: 24px;
        height: 1px;

        margin: 3px 0;
      }
    }

  }
  .right-group{
    width: 25vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    .white-icon {

    }
    .activ-circle{
      width: $defaul-font-size*3;
      height: $defaul-font-size*3;
      border-radius: 100%;
      cursor: pointer;
      position: relative;
      .mat-icon{
        position: absolute;
        top: $defaul-font-size*0.75;
        left: $defaul-font-size*0.75;
        right: 0;
        bottom: 0;
      }
    }
    .activ-circle:hover{
      background-color: $active-color;
      color: $regular-color;
    }
    .req{
      border: 1px solid $active-color-hover;
      background-color: transparent;
      color: $dark-app-color;

    }
    .req:hover{
      background-color: $active-color;
      color: $regular-color;
    }
    .circle{
      width: 3rem;
      height: 3rem;
    }
    .req{
      width: 8rem;
      height: 3rem;

    }
    .mat-menu-panel{
     top: 30px !important;
    }
    .person:hover{
      background-color: $active-color;
    }
    .mat-menu{
     margin-top: 40px;
    }
  }

}
.mat-menu-panel{
  margin-top: 30px !important;
  background-color: red;
}
