<nav class="navbar  main-header">
  <div class="left-group">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logos/bookitlab.svg"  width="100" height="30" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="menu-toggle" >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="logo">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logos/generic-logo1-hi.svg"  width="100" height="30" class="d-inline-block align-top" alt="" style="height: 50px; width: auto">
      </a>
    </div>
    <!--<button class="btn btn-primary" (click)="saveNewTheme('light')">Add white</button>
    <button class="btn btn-primary" (click)="saveNewTheme('dark')">Add Black</button>-->
  </div>

  <div class="right-group">
    <span class="activ-circle">
      <mat-icon (click)="fullScreen()">zoom_out_map</mat-icon>
    </span>
    <span class="activ-circle">
    <mat-icon class="white-icon">live_help_outline</mat-icon>
    </span>
    <span class="activ-circle">
    <mat-icon>notifications</mat-icon>
    </span>
    <button class="req" mat-raised-button  >
      <mat-icon  >clear_all</mat-icon>  All groups
    </button>
   <!-- <button class="circle" mat-mini-fab   (click)="fullScreen()" matTooltip="Info about the action"
    ><mat-icon>zoom_out_map</mat-icon></button>-->
    <!--<button class="circle" mat-mini-fab   ><mat-icon class="white-icon">live_help_outline</mat-icon></button>
    <button class="circle" mat-mini-fab ><mat-icon>notifications</mat-icon></button>
    <button class="req" mat-raised-button  >
      <mat-icon  >clear_all</mat-icon>  All groups
    </button>-->




    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" style="height: 80px">

        <img src="../../../assets/images/faces/user.png"  width="100%" height="auto" class="d-inline-block align-top" alt="">


    </button>
    Jhon
    <mat-menu #menu="matMenu" panelClass="myPanelClass" style="top: 100px">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item  (click)="saveNewTheme('light')">
        <mat-icon>voicemail</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item   (click)="saveNewTheme('dark')">
        <mat-icon>voicemail</mat-icon>
        <span>Dark</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>


</nav>
